<div id='food-search'>
    <%= form_for @food do |f| %>
    <%= f.text_field :name, class:"typeahead", type:"search", placeholder:"Enter food items" %>
    <%= f.submit class:"btn" %>
    <% end %>

    <%= link_to "Empty List", user_clear_list_path(@user), id:'empty-list', title:'empty my list', data: {turbolinks: false}  %>
    <%= link_to "Complete List", user_update_foods_path(@user), id:'missing', title:'complete my list', data: {turbolinks: false}  %>
</div>
<!-- don't delete this second div. it's closing a DIV from the application.html file. -->
</div>
