<div class="list-wrapper">

<% if @list_mode == "pantry" %>
  <%= render 'tabs', pantry_tab: 'active-tab', food_list_tab: 'inactive-tab' %>
<% else %>
  <%= render 'tabs', pantry_tab: 'inactive-tab', food_list_tab: 'active-tab' %>
<% end %>

<% if @list_items.empty? %>
  <div class= '<%= empty_class %>' >
    <h2><%= empty_string %></h2>
  </div>

<% else %>
  <ul class="food-list">
    <% @list_items.each_with_index do |item, i| %>
    <% food = Food.find_by(id: item.food_id) %>
      <li id='food-list-item-<%="#{i}"%>' , class='food-list-item'>

        <% if @list_mode == "pantry" %>
          <%= link_to image_tag(asset_path("#{img_src}"), class: "#{img_class}", title: "#{img_title}"),
          user_add_back_path(@user, item.id) %>
        <% else %>
          <%= link_to image_tag(asset_path("#{img_src}"), class: "#{img_class}", title: "#{img_title}"),
          user_pantry_path(@user, item.id) %>
        <% end %>

        <div class="food-name-wrapper">
          <%= link_to(food.name.capitalize, "", class: 'food-name') %>
        </div>

        <%= link_to image_tag(asset_path("remove-item.png"), class:"remove-food"), user_remove_item_path(@user,item.id) %>

        <% if item.recommended == true %>
          <%= link_to image_tag(asset_path("info-circle.png"), class:"info") %>
        <% end %>

        <% if item.prime_nutrient != nil %>
          <%= render 'info', food: food, item: item %>
        <%end%>

      </li>
    <% end %>
  </ul>
<% end %>
</div>
