<div class="list-wrapper">

  <ul class="food-list">
    <% @list_items.each_with_index do |item, i| %>
    <% food = Food.find_by(id: item.food_id) %>
      <li id='food-list-item-<%="#{i}"%>' , class='food-list-item'>
        <% if @list_mode == "pantry" %>
          <%= link_to image_tag("#{img_src}", class: "#{img_class}", title: "#{img_title}", data: {turbolinks: false}),
          user_add_back_path(@user, item.id) %>
        <% else %>
          <%= link_to image_tag("#{img_src}", class: "#{img_class}", title: "#{img_title}", data: {turbolinks: false}),
          user_pantry_path(@user, item.id) %>
        <% end %>
        <%= link_to(food.name.capitalize, "", class: 'food-name') %>
        <%= link_to image_tag('remove-item', class:"remove-food", data: {turbolinks: false}), user_remove_item_path(@user,food.id) %>
      </li>
    <% end %>
  </ul>

  <% if @list_items.empty? %>
    <div class= '<%= empty_class %>' >
      <h2><%= empty_string %></h2>
    </div>
  <% end %>
</div>
