<header>
<%= link_to image_tag('logo.png', id: "logo"), root_path, class: "head-link-edit" %>
<%= image_tag 'produce-black', id: "produce-edit" %>
<div id="nav">
    <% if current_user %>
    <%= link_to "Edit Profile", settings_path %>
    <%= link_to "Logout", :logout, method: :post %>
<% else %>
    <%= link_to "Register", new_user_path %>
    |
    <%= link_to "Login", :login %>
    <% end %>
</div>
</header>

<container id="edit-form">

  <%= form_for @user do |f| %>
    <div class="diet">
      <h3 class="setting_header">Diet</h3>
      <div class="diet_field">
        <%= f.label :veg, "Vegetarian"%>
        <%= f.check_box :veg,  :class => 'checkbox_field' %>
      </div>
      <div class="diet_field">
        <%= f.label :vegan, "Vegan"%>
        <%= f.check_box :vegan, :class => 'checkbox_field' %>
      </div>
      <div class="diet_field">
        <%= f.label :pescatarian %>
        <%= f.check_box :pescatarian, :class => 'checkbox_field' %>
      </div>
    </div>
    <div class="dietary_restrictions">
      <h3 class="setting_header">Dietary Restrictions</h3>
      <div class="dietary_restrictions_field">
        <%= f.label :gluten_free %>
        <%= f.check_box :gluten_free, :class => 'checkbox_field' %>
      </div>
      <div class="dietary_restrictions_field">
        <%= f.label :nut_free %>
        <%= f.check_box :nut_free, :class => 'checkbox_field' %>
      </div>
      <div class="dietary_restrictions_field">
        <%= f.label :dairy_free %>
        <%= f.check_box :dairy_free, :class => 'checkbox_field' %>
      </div>
    </div>
    <div class="user_information">
      <h3 class="setting_header">Your Details</h3>
      <div class="user_information_field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="user_information_field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="user_information_field">
        <%= f.label :height_cm, "Height (cm)" %><br />
        <%= f.number_field :height_cm %>
      </div>
      <div class="user_information_field">
        <%= f.label :weight_kg, "Weight (kg)" %><br />
        <%= f.number_field :weight_kg %>
      </div>
      <div class ="field">
        <%= f.label :activity_level %>
        <%= f.select :activity_level, [['Sedentary','sedentary'],['Active','active'],['Athlete','athlete']] %>
      </div>
      <div class="user_information_field">
        <%= f.label :date_of_birth %><br />
        <%= f.date_field :date_of_birth %>
      </div>
      <div class="user_information_field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="submit_button">
      <%= f.submit "Save Settings" %>
    </div>


<% end %>
</container>
