<head>
  <%= favicon_link_tag 'favicon.png' %>

</head>
<%= image_tag asset_path('produce-black.jpeg'), id: "produce-new" %>
<%= image_tag asset_path("logo.png"), id: 'logo-new' %>
<h2 id="tagline">Shopping shouldn't be a balancing act.</h2>
<%= link_to "Log In", '/login', id: "log-in" %>

<div class="notice"> <%= flash[:notice] %> </div>

<%= form_for(@user) do |f| %>

 <div class="field">
      <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>
