<div id='food-search'>
    <%= form_for @food do |f| %>
    <%= f.text_field :name, class:"typeahead", type:"text", placeholder:"Enter food items" %>
    <%= f.submit class:"btn" %>
    <% end %>
    <%= link_to "Empty List", user_clear_list_path(@user), id:'empty-list', title:'empty my list', data: {turbolinks: false} %>
    <%= link_to "Complete List", user_update_foods_path(@user), id:'missing', title:'complete my list', data: {turbolinks: false}  %>
</div>
</div>
<div class="list-wrapper">
  <div class="tabs">
    <%= link_to (image_tag 'list', class: "food-list-tab", alt: 'view list', title:'view list', id: 'inactive-tab'), user_path(current_user), data: {turbolinks: false}  %>
    <%= link_to (image_tag 'pantry', class: "pantry-tab", alt:'view pantry', title:'view pantry', id: 'active-tab'), user_pantry_show_path(current_user) %>
  </div>
</div>
<ul class="food-list" id="main-list">
<% i = 1 %>
<% @user.list_items.where(pantry: true).each do |item| %>
<% food = Food.where(id: item.food_id) %>
<li id='food-list-item-<%="#{i}"%>' , class='food-list-item'>
    <%= link_to image_tag('add-to-list', class:"add-to-list", data: { no_turbolink: true }), '' %>
    <%= link_to(food[0].name.capitalize, "", class: 'food-name') %>
    <%= link_to image_tag('remove-item', class:"remove-food", data: { no_turbolink: true }), user_remove_item_path(@user,food[0].id) %>
</li>
<% end %>
<% i +=1 %>
</ul>
</div>
<% if @user.list_items.where(pantry: true).empty? %>
<div class="empty-pantry">
<h2 class="empty-pantry">Your pantry is empty. Add items by tapping the pantry icon next to a food in your list.</h2>
<% end %>
