<head>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<%= image_tag asset_path("produce-black.jpeg"), id: "produce-new" %>
<%= image_tag asset_path("logo.png"), id: 'logo-new' %>
<h2 id="tagline">Shopping shouldn't be a balancing act.</h2>
<%= link_to "Sign Up", '/signup', id: "log-in" %>

<% if flash[:notice] %>
  <div class="notice" id="login-failed">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_tag user_sessions_path, :method => :post, class: "new_user" do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>
