<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wholelistic</title>
        <%= stylesheet_link_tag "application" %>
        <%= javascript_include_tag "application" %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">

        <%= csrf_meta_tags %>
    </head>
    <body>
      <% unless @hide %>
        <div class="image-wrapper">
          <!-- <%= image_tag 'produce.jpeg', id: "produce" %> -->
        <header>
        <%= link_to image_tag('logo-small.png', id: "logo", data: {turbolinks: false} ), root_path, class: "head-link" %>
        <div id="nav">
            <% if current_user %>
            <%= link_to "Edit Profile", settings_path, data: {turbolinks: false} %>
            <%= link_to "Log out", :logout, method: :post %>
        <% else %>
            <%= link_to "Register", new_user_path, data: {turbolinks: false} %>
            |
            <%= link_to "Log in", :login, data: {turbolinks: false} %>
            <% end %>
        </div>
        </header>
        <% end %>

        <%= yield %>

    </body>
</html>
